.footer {
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 213px;
}

.footer-text {
  text-align: left;
  display: grid;
}
.footer-content {
  display: flex;
  width: 80%;
  justify-content: center;
}
.footer hr {
  height: 3px;
  width: 45px;
  float: inline-start;
  color: #fff;
  background-color: #fff;
  border-radius: 10px;
  margin: 0;
}
.footer-button {
  font-size: 12px;
  font-weight: 600;
  background-color: #fff !important;
  padding: 15px 20px !important;
  width: 250px !important;
  margin-top: 20px !important;
  justify-content: left !important;
}
.footer-button span {
  text-align: justify;
  font-size: 15px !important;
  line-height: 15px;
}
.footer-button-icon {
  margin-right: 15%;
}
.footer-buttons {
  min-width: 50%;
  align-self: center;
  display: grid;
  justify-content: center;
}
.footer-text h3 {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 0;
}
.footer-text p {
  font-weight: 400;
  font-size: 13px;
  line-height: 12px;
  margin-top: 0;
}
